doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    script(src='https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js')
    title {{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}
    meta(name='description', content='{{ site.subtitle }}')
    link(rel='stylesheet', href='{{ site.baseurl }}/css/main.css')
    <!--[if lt IE 9]>
    script(src='{{ site.baseurl }}/js/shiv.js')
    <![endif]-->
  body
    div#nav {% include header.html %}
    div#sidebar {% include navigation.html %}
    div#main(tabindex='0') {{ content }}
    script(src='{{ site.baseurl }}/js/global.js')
    script !function(p,o,y,n,t){p.GoogleAnalyticsObject=y,p[y]||(p[y]=function(){(p[y].q=p[y].q||[]).push(arguments)}),p[y].l=+new Date,n=o.createElement('script'),t=o.scripts[0],n.src='//www.google-analytics.com/analytics.js',t.parentNode.insertBefore(n,t)}(this,document,'ga');ga('create', 'UA-49020603-7', 'auto');ga('send', 'pageview')</script>
