div
  div#nav-image: a(href='{{ site.baseurl }}/')
    img.spin(src='https://d85ecz8votkqa.cloudfront.net/images/icon-100.png', width=34, height=34)
    img(src='https://d85ecz8votkqa.cloudfront.net/images/developer/logo-white-100.png', width=235, height=34)
