div
  div#nav-links-right
    a(href='https://poynt.net/auth/signup/developer') Sign up as a developer
    a(href='https://poynt.net/auth/signin') Sign in
  div#nav-image: a(href='https://poynt.com/developers/')
    img.spin(src='https://d85ecz8votkqa.cloudfront.net/images/icon-100.png', width=34, height=34)
    img(src='https://d85ecz8votkqa.cloudfront.net/images/developer/logo-white-100.png', width=235, height=34)
  div#nav-links
    a.active(href='#') Documentation
    a(href='https://poynt.com/docs/api/') API reference
